/*---------------------------------------------------------*/
/*CSS pour tout le site*/
body{
    background-color: #ffdfab;
    bottom: 0;
    top: 0;
    right: 0;
    left: 0;
    margin: 0;
    min-height: 100vh;
    font-family: Fredoka;
}
@font-face {
    font-family: Fredoka;
    src: url(../fonts/Fredoka_Condensed-Medium.ttf);
}

/*---------------------------------------------------------*/
/*CSS du main*/

img{
    text-align: end;
}

h1{
    font-family: Fredoka;
    font-size: 20px;
}
p{
    font-family: Fredoka;
    font-size: 20px;
}

button{
    background-color: #ffdfab;
    padding:10px;
    width : 100px;
    text-align: center;
    border-radius: 10px;
    font-family: Fredoka;
    cursor: pointer;
}

.seDeconnecter{
    text-align: end;
    font-family: Fredoka;
}
.alert-danger{
    text-align: center;
    background-color: red;
}
form{
    display: block;
    margin-top: 20px;
    margin-left: 20%;
    margin-right: 15%;
    padding-top: 40px;
    padding-bottom: 40px;
    width:30%
}
.formTitle{
    font-size: 20px;
}
.label{
    font-family: Fredoka;
    font-size: 15px;
}
.inputRequired{
    background-color: #ffebcd;
    border: 1px solid black;
    font-family: Fredoka;
    text-align: left;
    font-size: 20px;
    cursor: text;
    padding:12px 20px;
    width: 80%;
}
.register{
    border: 1px solid black;
    background-color: #ffebcd;
    display: block;

    height: 10px;
    width: 500px;
    padding-left:5%;
    padding-right:1%;
    padding-top: 1%;
    padding-bottom: 1%;
    margin-bottom: 2%;
    margin-left: 5%;
    text-align: left;
}
.class{
    border: 1px solid black;
    background-color: #ffebcd;
    display: block;
    font-family: Fredoka;
    width: 100px; /* Largeur du carré */
    height: 100px; /* Hauteur du carré */
    margin: 10px; /* Marge autour du carré */
    display: inline-block;
}



/*---------------------------------------------------------------------------*/
/*CSS du Header*/
header{
    background-color: #f3b248;
    position:sticky;
    width: 100%;
    top: 0;
    right: 0;
    padding: 1%;
    font-size: 12px;
    padding-right: 0;
    padding-left: 0;
    border-radius: 1%;
}
ul{
    display: flex;
    flex-direction: row;
    justify-content: space-around;

}
li{
    text-align: center;
    list-style-type: none;
    font-family: Fredoka;
}

/*---------------------------------------------------------------------------*/
/*CSS du Footer*/
footer{
    background-color: #f3b248;
    position:fixed;
    width: 100%;
    bottom: 0;
    left: 0;
    padding: 1%;
    font-size: 12px;
    padding-right: 0;
    padding-left: 0;
    border-radius: 1%;
}
.container{
        
    margin-top: 2%;
    margin-bottom: 0.5%;
}
.row{
    display: flex;
    flex-direction: row-reverse;
    font-family: Fredoka;
    justify-content: space-around;
    text-align: center;
}


